body {
    font-family: Arial;
    padding: 20px;
}

.controls input {
    padding: 6px;
}

.controls button {
    padding: 6px 10px;
    margin-left: 5px;
}

.board {
    display: flex;
    gap: 20px;
}

.col {
    width: 200px;
    min-height: 250px;
    background: #f0f0f0;
    padding: 10px;
}

.task {
    background: white;
    margin: 8px 0;
    padding: 6px;
    cursor: pointer;
}

#timeline {
    margin-top: 20px;
    border-left: 3px solid gray;
    padding-left: 10px;
}

.event {
    margin-bottom: 8px;
}

.current {
    font-weight: bold;
    color: green;
}
