body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.board {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.column {
    width: 200px;
    min-height: 300px;
    background: #eae5e5;
    padding: 10px;
    border-radius: 5px;
}

.column h2 {
    text-align: center;
}

.task {
    background: rgb(237, 121, 121);
    padding: 8px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #f2efef;
}

.controls button {
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 16px;
}

.timeline {
    margin-top: 20px;
    border-left: 3px solid #7cabde;
    padding-left: 15px;
}

.event {
    margin-bottom: 10px;
    position: relative;
}

.event::before {
    content: '';
    position: absolute;
    left: -11px;
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 50%;
}

.current::before {
    background: green;
}

